/* Підключення шрифтів */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:200,regular,500,600,700,&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@700&display=swap");

/* Скидання стилів */
@import url("reset.css");

/* Основні стилі */
.consulting {
	font-family: "Inter", sans-serif;
	max-width: 722px;
	margin: 0 auto;
	font-size: 18px;
	color: #7d7d7d;
	padding: 50px 15px;
}
.image-consulting {
	margin-bottom: 23px;
}
.image-consulting img {
	width: 100%;
}
.consulting-content {
	margin-bottom: 40px;
}
.title-consulting {
	font-family: "Poppins", sans-serif;
	color: #37393f;
	font-size: 30px;
	font-weight: 600;
	line-height: 127%;
	margin-bottom: 5px;
	text-transform: capitalize;
}
title {
}
.consulting-block {
}
.consulting-block p {
	line-height: 146.187%;
}
.consulting-text {
	line-height: 146.187%;
	margin-bottom: 40px;
}
.consulting-sub-title {
	font-family: "Poppins", sans-serif;
	color: #6b77e5;
	font-size: 20px;
	font-weight: 600;
	line-height: 127%;
	margin-bottom: 10px;
}
.consulting-benefits {
	margin-bottom: 50px;
	font-size: 0;
}
.consulting-benefits-image {
	display: inline-block;
	vertical-align: top;
	margin-right: 29px;
}
.consulting-benefits-image img {
}
.consulting-benefits-info {
	display: inline-block;
	max-width: 332px;
}
.consulting-benefits-info p {
	font-family: "Poppins", sans-serif;
	margin-bottom: 24px;
	color: #40ddb6;
	font-size: 20px;
	font-weight: 600;
	line-height: 127%;
}
.consulting-benefits-sub-title {
	font-family: "Poppins", sans-serif;
	margin-bottom: 15px;
	color: #37393f;
	font-size: 25px;
	font-weight: 600;
}

.consulting-benefits-list {
	font-size: 18px;
}

.consulting-benefits-list li::before {
	content: "";
	display: inline-block;
	background: url("../img/consulting-icon-2.svg") 0 0 no-repeat;
	width: 27px;
	height: 27px;
	margin: 0px 8px -7px 0px;
}
.consulting-benefits-list li:hover:before {
	opacity: 0.7;
}

.consulting-benefits-list > *:not(:last-child) {
	margin-bottom: 35px;
}

.text {
	line-height: 146.187%;
}

.consulting-business {
	font-family: "Inter", sans-serif;
	max-width: 705px;
	margin: 0 auto;
	padding: 50px 15px;
	color: #7d7d7d;
	line-height: 1.46;
	font-size: 18px;
}
.consulting-business-pre-title {
	color: #37393f;
	font-weight: 500;
	margin-bottom: 16px;
	background: url("../img/consulting-icon-1.svg") 0 6px no-repeat;
	padding-left: 18px;
}
.consulting-business-title {
	font-family: "Poppins", sans-serif;
	color: #37393f;
	font-size: 40px;
	font-weight: 700;
	line-height: 1.21;
	max-width: 413px;
	margin-bottom: 10px;
}
.consulting-business-text {
	margin-bottom: 48px;
}
.consulting-business-text > * {
	margin-bottom: 16px;
}
.consulting-business-text > *:last-child {
	margin-bottom: 0;
}
.consulting-business-vision {
	padding: 28px 41px 28px 84px;
	border: 1px solid #e3e3e3;
	margin-bottom: 31px;
	background: url("../img/consulting-icon-2.svg") 38px 28px no-repeat;
}
.vision-title {
	font-family: "Poppins", sans-serif;
	color: #37393f;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.5;
	margin-bottom: 12px;
}
.consulting-business-mision {
	padding: 28px 41px 28px 84px;
	border: 1px solid #e3e3e3;
	margin-bottom: 48px;
	background: url("../img/consulting-icon-2.svg") 38px 28px no-repeat;
}
.mision-title {
	font-family: "Poppins", sans-serif;
	color: #37393f;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.5;
}
.consulting-business-button {
	display: inline-block;
	padding: 22px 35px;
	background-color: #6b77e5;
	line-height: 1.2;
	color: #fff;
	text-align: center;
	font-weight: 600;
	text-transform: capitalize;
}
.consulting-business-button:hover{
	background-color: hsla(234, 69%, 63%, 0.833);
}


.consulting-work {
	font-family: "Inter", sans-serif;
	max-width: 1250px;
	padding: 50px 15px;
	margin: 0 auto;
	font-size: 0;
	line-height: 1.46;
	color: #7d7d7d;
}
.consulting-work-pre-title {
	text-align: center;
	margin-bottom: 16px;
	font-size: 18px;
}
.consulting-work-pre-title h3 {
	display: inline-block;
	color: #37393f;
	font-weight: 500;
	line-height: 1.4;
	background: url("../img/consulting-icon-1.svg") 0 6px no-repeat;
	padding-left: 18px;
}

.consulting-work-title {
	font-family: "Poppins", sans-serif;
	color: #37393f;
	text-align: center;
	font-size: 40px;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 77px;
}
.consulting-work-appointment {
	display: inline-block;
	background-color: #f4f4f4;
	padding: 58px 43px;
	margin-right: 31px;
}
.consulting-work-appointment::before {
	content: "";
	display: block;
	background: url("../img/appointment-icon.svg") no-repeat;
	width: 72px;
	height: 72px;
	margin: 0 auto;
	margin-top: -96px;
	margin-bottom: 22px;
}
.consulting-work-appointment p {
	margin-bottom: 37px;
	max-width: 300px;
	text-align: center;
	font-size: 18px;
}
.appointment-title {
	font-family: "Poppins", sans-serif;
	color: #37393f;
	text-align: center;
	font-size: 25px;
	font-weight: 600;
	line-height: 1.2;
	margin-bottom: 16px;
}
.appointment-link {
	color: #6b77e5;
	text-align: center;
	font-weight: 600;
	text-transform: capitalize;
	font-size: 18px;
}
.appointment-link:hover {
text-decoration: underline;
}
.consulting-work-consultation {
	display: inline-block;
	background-color: #f4f4f4;
	padding: 58px 43px;
	margin-right: 31px;
}
.consulting-work-consultation::before {
	content: "";
	display: block;
	background: url("../img/consultation-icon.svg") no-repeat;
	width: 72px;
	height: 72px;
	margin: 0 auto;
	margin-top: -96px;
	margin-bottom: 22px;
}
.consulting-work-consultation p {
	margin-bottom: 37px;
	max-width: 300px;
	text-align: center;
	font-size: 18px;
}
.consultation-title {
	font-family: "Poppins", sans-serif;
	color: #37393f;
	text-align: center;
	font-size: 25px;
	font-weight: 600;
	line-height: 1.2;
	margin-bottom: 16px;
}
.consultation-link {
	color: #6b77e5;
	text-align: center;
	font-weight: 600;
	text-transform: capitalize;
	font-size: 18px;
}
.consultation-link:hover {
	text-decoration: underline;
	}
.consulting-work-service {
	display: inline-block;
	background-color: #f4f4f4;
	padding: 58px 43px;
}
.consulting-work-service::before {
	content: "";
	display: block;
	background: url("../img/service-icon.svg") no-repeat;
	width: 72px;
	height: 72px;
	margin: 0 auto;
	margin-top: -96px;
	margin-bottom: 22px;
}
.consulting-work-service p {
	margin-bottom: 37px;
	max-width: 300px;
	text-align: center;
	font-size: 18px;
}
.service-title {
	font-family: "Poppins", sans-serif;
	color: #37393f;
	text-align: center;
	font-size: 25px;
	font-weight: 600;
	line-height: 1.2;
	margin-bottom: 16px;
}
.service-link {
	text-align: center;
	color: #6b77e5;
	font-weight: 600;
	text-transform: capitalize;
	font-size: 18px;
}
.service-link:hover {
	text-decoration: underline;
	}

.jewellery {
	font-family: "Cormorant Infant", serif;
	color: #000;
	font-weight: 700;
	max-width: 1244px;
	margin: 0 auto;
	padding: 50px 15px;
	font-size: 0;
}
.jewellery-title {
	display: inline-block;
	font-size: 60px;
	line-height: 1.15;
	max-width: 480px;
	vertical-align: top;
	padding-top: 118px;
}
.jewellery-title::after {
	content: "";
	display: block;
	height: 3px;
	background-color: #78473b;
	width: 63%;
	margin-top: 10px;
}
.jewellery-collection-one {
	vertical-align: top;
	display: inline-block;
	margin-top: 32px;
	margin-right: 45px;
}
.jewellery-collection-one p {
	font-size: 24px;
	line-height: 1.4;
	margin-bottom: 5px;
}
.jewellery-image-one {
	border: 1px solid #000;
	margin-bottom: 25px;
	max-width: 334px;
	height: 381px;
}
.jewellery-image-one img {
	margin: 9px -10px -9px 10px;
	width: 100%;
	height: 100%;
}
.jewellery-collection-one-title {
	font-size: 24px;
	line-height: 1.4;
}
.jewellery-collection-two {
	display: inline-block;
	max-width: 334px;
}
.jewellery-collection-two p {
	font-size: 24px;
	line-height: 1.4;
	margin-bottom: 5px;
}
.jewellery-collection-two-title {
	line-height: 1.13;
	font-size: 46px;
	margin-bottom: 31px;
}
.jewellery-collection-two-sub-title {
	font-size: 24px;
	line-height: 1.4;
}
.jewellery-image-two {
	border: 1px solid #000;
	margin-bottom: 25px;

	height: 381px;
}
.jewellery-image-two img {
	margin: 9px -10px -9px 10px;
	width: 100%;
	height: 100%;
}
/* Практика */
.test {
	max-width: 1200px;
	margin: 0 auto;
	padding: 50px 0px 50px 0px;
	outline: 4px dotted rgb(167, 167, 167);
}
.test h2 {
	text-align: center;
	font-size: 100px;
	margin-bottom: 40px;
}


.block {
	outline: 4px dotted rgb(167, 167, 167);
	max-width: 300px;
	padding: 20px;
	margin-left: 20px;
	margin-right: 20px;
	display: inline-block;
}
.title {
	margin-left: 50px;
	font-weight: 700;
	margin-bottom: 15px;
}
.test-title{
	text-align: center;
	font-size: 30px;
	margin-bottom: 40px;
	margin-top: 40px;
}
.hover-buttton {
	display: inline-block;
	padding: 22px 35px;
	background-color: #6b77e5;
	line-height: 1.2;
	font-size: 18px;
	font-weight: 700;
	margin-left: 50px;
	border-radius: 50%;
}
.hover-buttton:hover {
	background-color: rgb(15, 181, 131);
}
.active-buttton {
	display: inline-block;
	padding: 22px 35px;
	background-color: #6b77e5;
	line-height: 1.2;
	font-size: 18px;
	font-weight: 700;
	margin-left: 50px;
	border-radius: 50%;
}
.active-buttton:active {
	background-color: rgb(15, 181, 131);
}
.visited-buttton {
	display: inline-block;
	padding: 22px 35px;
	background-color: #6b77e5;
	line-height: 1.2;
	font-size: 18px;
	font-weight: 700;
	margin-left: 50px;
	border-radius: 50%;
	color: #ffffff;
}
.visited-buttton:visited {
	color: rgb(15, 181, 131);
}

.block-1 {
	outline: 4px dotted rgb(167, 167, 167);
	padding: 20px;
	margin-top: 50px;
	margin-left: 20px;
	margin-right: 20px;
}

.focus-link {
	margin-left: 50px;
}
.focus-link:focus {
	outline: 4px solid rgb(15, 181, 131);
}

.target-link {
	font-weight: 700;
}
.target-box {
	margin-top: 15px;
	background-color: rgb(15, 181, 131);
	width: 300px;
	height: 300px;
	visibility: hidden;
}
.target-box:target {
	visibility: visible;
}

.block-2 {
	outline: 4px dotted rgb(167, 167, 167);
	padding: 20px;
	margin-top: 50px;
	margin-left: 20px;
	margin-right: 20px;
}
.block-2-list {
	margin-left: 50px;
	line-height: 1.4;
}
.block-2-list li:first-child{
	color: rgb(15, 181, 131);
}
.block-2-list-type{
	margin-left: 50px;
	line-height: 1.4;
}
.block-2-list-type li:first-of-type{
	color: rgb(15, 181, 131);
}

.block-2-list-nth{
	margin-left: 50px;
	line-height: 1.4;
	margin-bottom: 20px;
}
.block-2-list-nth li:nth-child(3){
	color: rgb(15, 181, 131);
}

.block-2-list-nth-1{
	margin-left: 50px;
	line-height: 1.4;
}
.block-2-list-nth-1 li:nth-child(3n + 1){
	color: rgb(15, 181, 131);
}
.block-2-list-nth-1 li:nth-child(3n + 2){
	color: rgb(16, 51, 208);
}
.block-2-list-not{
	margin-left: 50px;
	line-height: 1.4;
	color: rgb(15, 181, 131);
}

.block-2-list-not li:not(:last-child){
	color: black;
}
